<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Exit Failed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row class="ion-text-center">
      <ion-col size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Your license plate is</ion-card-subtitle>
            <ion-card-title> {{licensePlate}} </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <h2>We can not find your license plate in our record.</h2>
            <h1>Please go to ticket office for further assistance.</h1>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button routerLink="/home">Next Customer</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>