<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Exit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
          <ion-button color="primary" (click)="onPickImage()">
            <ion-icon name="camera" slot="start"></ion-icon>
            <ion-label>Pick QR code</ion-label>
          </ion-button>
          
        <input #filePicker type="file" accept="image/png" (change)="onFileChosen($event)">
        
        <!-- <form enctype="multipart/form-data" action="http://api.qrserver.com/v1/read-qr-code/" method="POST">
          <input name="MAX_FILE_SIZE" value="1048576" type="hidden" />
          <input name="file" accept="image/png" type="file" />
          <input type="submit" value="Read QR code" />
        </form> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
