<ion-header>
  <ion-toolbar>
    <ion-title>
      Parking Monitor App (Proof of concept)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card button class="entrance" routerLink="/entrance">
            <ion-icon name="log-in" size="large"></ion-icon>
            <ion-card-title>Entrance</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button class="exit" routerLink="/exit">
            <ion-icon name="log-out" size="large"></ion-icon>
            <ion-card-title>Exit</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
